@font-face {
    font-family: 'iconfont';
    /* Project id 3167823 */
    src: url('//at.alicdn.com/t/font_3167823_759nwpnhbsg.woff2?t=1643862644213') format('woff2'), url('//at.alicdn.com/t/font_3167823_759nwpnhbsg.woff?t=1643862644213') format('woff'), url('//at.alicdn.com/t/font_3167823_759nwpnhbsg.ttf?t=1643862644213') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}